div {
  padding-left:50pt;
  font-family: Cambria;
  font-size: 42px;
  text-align: center;
  
}

p {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: Cambria;
  text-align: center;

}
body {
    margin: 20px;
    padding-bottom:60px;
    background: white;
    line-height: 20px;
    font-family: 'Droid Sans',Arial,Verdana,sans-serif;
    font-size: 14px;
    color: #828282;
    display: block;
    border: 3px solid black;
}
article {
  background-color: yellow;
}
html {
  text-align:center;
}